@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --background: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "TASA Orbiter"; */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 9999px;
  visibility: hidden;
}

.custom-scroll:hover::-webkit-scrollbar-thumb,
.custom-scroll:active::-webkit-scrollbar-thumb {
  visibility: visible;
}
